<form [formGroup]="profileForm" (submit)="onSubmit()">
  <!-- Basic Information -->
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Basic Information</h4>
      <div class="row form-row">
        <div class="col-md-12">
          <div class="form-group">
            <div class="change-avatar">
              <div class="profile-img">
                <img [src]="profilePic" alt="User Image">
              </div>
              <div class="upload-img">
                <div class="change-photo-btn">
                  <span><i class="fa fa-upload"></i> Upload Photo</span>
                  <input type="file" class="upload" (change)="onProfileSelect($event)">
                </div>
                <small class="form-text text-muted">Allowed JPG, GIF or PNG. Max size of 2MB</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label>Username <span class="text-danger">*</span></label>
            <input type="text" formControlName="userName" class="form-control">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Username <span class="text-danger">*</span></label>
            <input type="text" formControlName="userName" class="form-control">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Email <span class="text-danger">*</span></label>
            <input type="email" formControlName="email" class="form-control">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>First Name <span class="text-danger">*</span></label>
            <input type="text" formControlName="firstName" class="form-control" [ngClass]="f.firstName.errors ? 'is-invalid': ''">
            <div class="invalid-feedback" *ngIf="f.firstName.errors">
              Valid First Name should be Added!
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Last Name <span class="text-danger">*</span></label>
            <input type="text" formControlName="lastName" class="form-control" [ngClass]="f.lastName.errors ? 'is-invalid': ''">
            <div class="invalid-feedback" *ngIf="f.lastName.errors">
              Valid Last Name should be Added!
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Phone Number</label>
            <input type="text" formControlName="phoneNumber" class="form-control" maxlength="10" [ngClass]="f.phoneNumber.errors ? 'is-invalid': ''">
            <div class="invalid-feedback" *ngIf="f.phoneNumber.errors">
              {{f.phoneNumber.errors | json}}
              Valid Phone Number should be Added!
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Gender</label>
            <select class="form-control select" formControlName="gender" [ngClass]="f.gender.errors ? 'is-invalid': ''">
              <option>Male</option>
              <option>Female</option>
            </select>
            <div class="invalid-feedback" *ngIf="f.gender.errors">
              Valid Gender should be Selected!
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group mb-0">
            <label>Date of Birth</label>
            <input type="date" class="form-control" formControlName="dateOfBirth"  [ngClass]="f.dateOfBirth.errors ? 'is-invalid': ''">
            <div class="invalid-feedback" *ngIf="f.dateOfBirth.errors">
              Valid Gender should be Selected!
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Basic Information -->

  <!-- About Me -->
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">About Me</h4>
      <div class="form-group mb-0">
        <label>Biography</label>
        <textarea class="form-
        control" formControlName="profileDescription" rows="5" [ngClass]="f.profileDescription.errors ? 'is-invalid': ''"></textarea>
        <div class="invalid-feedback" *ngIf="f.profileDescription.errors">
          Minimum of 5 Characters are required!
        </div>
      </div>
    </div>
  </div>
  <!-- /About Me -->

  <!-- Clinic Info -->
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Clinic Info</h4>
      <div class="row form-row" formGroupName="clinicInfo">
        <div class="col-md-6">
          <div class="form-group">
            <label>Clinic Name</label>
            <input type="text" class="form-control" formControlName="name" [ngClass]="f.clinicInfo.errors ? 'is-invalid': ''">
            <div class="invalid-feedback" *ngIf="f.clinicInfo.errors">
              Invalid Clinic Info
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Clinic Address</label>
            <input type="text" class="form-control" formControlName="address" [ngClass]="f.clinicInfo.errors ? 'is-invalid': ''">
            <div class="invalid-feedback" *ngIf="f.clinicInfo.errors">
              Invalid Clinic Info
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label>Clinic Images</label>
            <ngx-dropzone (change)="onSelect($event)">
              <ngx-dropzone-label>Drop files here to upload</ngx-dropzone-label>
              <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f"
                [removable]="true" (removed)="onRemove(f)">
              </ngx-dropzone-image-preview>
            </ngx-dropzone>
          </div>
          <div class="upload-wrap">
            <div class="upload-images">
              <img src="assets/img/features/feature-01.jpg" alt="Upload Image">
              <a href="javascript:void(0);" class="btn btn-icon btn-danger btn-sm"><i class="far fa-trash-alt"></i></a>
            </div>
            <div class="upload-images">
              <img src="assets/img/features/feature-02.jpg" alt="Upload Image">
              <a href="javascript:void(0);" class="btn btn-icon btn-danger btn-sm"><i class="far fa-trash-alt"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Clinic Info -->

  <!-- Contact Details -->
  <div class="card contact-card">
    <div class="card-body">
      <h4 class="card-title">Contact Details</h4>
      <div class="row form-row" formGroupName="contactInfo">
        <div class="col-md-6">
          <div class="form-group">
            <label>Address Line 1</label>
            <input type="text" class="form-control" formControlName="address1">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Address Line 2</label>
            <input type="text" class="form-control" formControlName="address2">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">City</label>
            <input type="text" class="form-control" formControlName="city">
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">State</label>
            <ng-select2 width="100%" id="stateSelect" formControlName="state">
              <option *ngFor="let state of states" [value]="state.stateCode">{{state.stateName}}</option>
            </ng-select2>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Country</label>
            <ng-select2 width="100%" id="weekdaySelect" formControlName="country" (valueChanged)="countryChange($event)">
              <option *ngFor="let country of countries?.countries" [value]="country.countryCode">{{country.countryName}}</option>
            </ng-select2>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Pin Code</label>
            <input type="text" class="form-control" formControlName="zip">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Contact Details -->

  <!-- Pricing -->
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Pricing</h4>

      <div class="form-group mb-0">
        <div id="pricing_select">
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="price_free" (change)="priceChange($event)" name="rating_option" class="custom-control-input" value="price_free"
              checked>
            <label class="custom-control-label" for="price_free">Free</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="price_custom" (change)="priceChange($event)" name="rating_option" value="custom_price"
              class="custom-control-input">
            <label class="custom-control-label" for="price_custom">Custom Price (per hour)</label>
          </div>
        </div>

      </div>

      <div class="row custom_price_cont" id="custom_price_cont" *ngIf="customPrice">
        <div class="col-md-4">
          <input type="number" class="form-control" formControlName="feePerVisit" id="custom_rating_input"
            name="custom_rating_count" value="" placeholder="20">
          <small class="form-text text-muted">Custom price you can add</small>
        </div>
      </div>

    </div>
  </div>
  <!-- /Pricing -->

  <!-- Services and Specialization -->
  <div class="card services-card">
    <div class="card-body">
      <h4 class="card-title">Services and Specialization</h4>
      <div class="form-group">
        <label>Services</label>
        <ti-angular-tags-input class="an-tag" Placeholder="Enter Services" formControlName="services">
        </ti-angular-tags-input>
        <small class="form-text text-muted">Note : Type & Press enter to add new services</small>
      </div>
      <div class="form-group mb-0">
        <label>Specialization </label>
        <ng-select2 width="100%" id="specializations" [options]="selectOptions" formControlName="specializations">
          <option  *ngFor="let speciality of specialities" [value]="speciality.name">{{speciality.name}}</option>
        </ng-select2>
        <!-- <ti-angular-tags-input class="an-tag" Placeholder="Enter Specilization" formControlName="specializations">
        </ti-angular-tags-input>
        <small class="form-text text-muted">Note : Type & Press enter to add new specialization</small> -->
      </div>
    </div>
  </div>
  <!-- /Services and Specialization -->

  <!-- Education -->
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Education</h4>
      <ng-container formArrayName="educationBackground"
        *ngFor="let item of profileForm.get('educationBackground')['controls']; let i = index;">
        <div class="education-info" [formGroupName]="i">
          <div class="row form-row education-cont">
            <div class="col-12 col-md-10 col-lg-11">
              <div class="row form-row">
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="form-group">
                    <label>Degree</label>
                    <input type="text" formControlName="degree" class="form-control">
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="form-group">
                    <label>College/Institute</label>
                    <input type="text" formControlName="institute" class="form-control">
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="form-group">
                    <label>Year of Completion</label>
                    <input type="text" formControlName="completionYear" class="form-control">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-2 col-lg-1" (click)="onRowDelete(i,'education')" *ngIf="i>0"><label
                class="d-md-block d-sm-none d-none">&nbsp;</label><a href="javascript:void(0);"
                class="btn btn-danger trash"><i class="far fa-trash-alt"></i></a></div>
          </div>
        </div>
      </ng-container>
      <div class="add-more">
        <a href="javascript:void(0);" (click)="onNewAdd('education')" class="add-education"><i
            class="fa fa-plus-circle"></i> Add More</a>
      </div>
    </div>
  </div>
  <!-- /Education -->

  <!-- Experience -->
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Experience</h4>
      <ng-container formArrayName="experience"
        *ngFor="let item of profileForm.get('experience')['controls']; let i = index;">
        <div class="experience-info" [formGroupName]="i">
          <div class="row form-row experience-cont">
            <div class="col-12 col-md-10 col-lg-11">
              <div class="row form-row">
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="form-group">
                    <label>Hospital Name</label>
                    <input type="text" class="form-control" formControlName="institutionName">
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="form-group">
                    <label>From</label>
                    <input type="text" class="form-control" formControlName="from">
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="form-group">
                    <label>To</label>
                    <input type="text" class="form-control" formControlName="to">
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="form-group">
                    <label>Designation</label>
                    <input type="text" class="form-control" formControlName="designation">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-2 col-lg-1" (click)="onRowDelete(i,'experience')" *ngIf="i>0"><label
                class="d-md-block d-sm-none d-none">&nbsp;</label><a href="javascript:void(0);"
                class="btn btn-danger trash"><i class="far fa-trash-alt"></i></a></div>
          </div>
        </div>
      </ng-container>
      <div class="add-more">
        <a href="javascript:void(0);" (click)="onNewAdd('experience')" class="add-experience"><i
            class="fa fa-plus-circle"></i> Add More</a>
      </div>
    </div>
  </div>
  <!-- /Experience -->

  <!-- Awards -->
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Awards</h4>
      <ng-container formArrayName="awards" *ngFor="let item of profileForm.get('awards')['controls']; let i = index;">
        <div class="awards-info" [formGroupName]="i">
          <div class="row form-row awards-cont">
            <div class="col-12 col-md-5">
              <div class="form-group">
                <label>Awards</label>
                <input type="text" class="form-control" formControlName="name">
              </div>
            </div>
            <div class="col-12 col-md-5">
              <div class="form-group">
                <label>Year</label>
                <input type="text" class="form-control" formControlName="year">
              </div>
            </div>
            <div class="col-12 col-md-2 col-lg-1" (click)="onRowDelete(i,'award')" *ngIf="i>0"><label
                class="d-md-block d-sm-none d-none">&nbsp;</label><a href="javascript:void(0);"
                class="btn btn-danger trash"><i class="far fa-trash-alt"></i></a></div>
          </div>
        </div>
      </ng-container>

      <div class="add-more">
        <a href="javascript:void(0);" (click)="onNewAdd('award')" class="add-award"><i class="fa fa-plus-circle"></i>
          Add More</a>
      </div>
    </div>
  </div>
  <!-- /Awards -->

  <!-- Memberships -->
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Memberships</h4>
      <ng-container formArrayName="memberShips"
        *ngFor="let item of profileForm.get('memberShips')['controls']; let i = index;">
        <div class="membership-info" [formGroupName]="i">
          <div class="row form-row membership-cont">
            <div class="col-12 col-md-10 col-lg-5">
              <div class="form-group">
                <label>Memberships</label>
                <input type="text" class="form-control" formControlName="name">
              </div>
            </div>
            <div class="col-12 col-md-2 col-lg-1" (click)="onRowDelete(i,'membership')" *ngIf="i>0"><label
                class="d-md-block d-sm-none d-none">&nbsp;</label><a href="javascript:void(0);"
                class="btn btn-danger trash"><i class="far fa-trash-alt"></i></a></div>
          </div>
        </div>
      </ng-container>
      <div class="add-more">
        <a href="javascript:void(0);" (click)="onNewAdd('membership')" class="add-membership"><i
            class="fa fa-plus-circle"></i> Add More</a>
      </div>
    </div>
  </div>
  <!-- /Memberships -->

  <!-- Registrations -->
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Registrations</h4>
      <ng-container formArrayName="registrations"
        *ngFor="let item of profileForm.get('registrations')['controls']; let i = index;">
        <div class="registrations-info" [formGroupName]="i">
          <div class="row form-row reg-cont">
            <div class="col-12 col-md-2">
              <div class="form-group">
                <label>Registrations</label>
                <input type="text" class="form-control" formControlName="name">
              </div>
            </div>
            <div class="col-12 col-md-2">
              <div class="form-group">
                <label>Year</label>
                <input type="text" class="form-control" formControlName="year">
              </div>
            </div>
            <div class="col-12 col-md-2">
              <div class="form-group">
                <label>Qualification</label>
                <input type="text" class="form-control" formControlName="qualification">
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group m-0">
                <label class="form-label" for="customFile">Attachment</label>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="upload-img">
                    <div class="change-attachment-btn">
                      <span><i class="fa fa-upload"></i> Upload</span>
                      <input type="file" class="upload" (change)="onRegistrationAttachmentSelect($event, item)">
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <a href="{{item.value.attachment}}" target="_blank"><strong>{{item.value.attachment | getNameFromUrl}}</strong></a>
                </div>
              </div>
              
            </div>
            <div class="col-12 col-md-2 col-lg-1" (click)="onRowDelete(i,'registration')" *ngIf="i>0"><label
                class="d-md-block d-sm-none d-none">&nbsp;</label><a href="javascript:void(0);"
                class="btn btn-danger trash"><i class="far fa-trash-alt"></i></a></div>
          </div>
        </div>
      </ng-container>
      <div class="add-more">
        <a href="javascript:void(0);" (click)="onNewAdd('registration')" class="add-reg"><i
            class="fa fa-plus-circle"></i> Add More</a>
      </div>
    </div>
  </div>
  <!-- /Registrations -->

  <!-- Language -->
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-md-6">
          <h4 class="card-title">Known Languages</h4>
          <div class="add-more">
            <ng-select2 width="100%" id="language" formControlName="language" [data]="languages" [options]="options"></ng-select2>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="row">
            <div class="col-12 col-md-6 mt-5 nopadding">
              <div class="form-check">
                <mat-radio-group formControlName="isCorporate">
                  <mat-radio-button [value]="false">Individual </mat-radio-button>&nbsp;&nbsp;
                  <mat-radio-button  [value]="true">Corporate</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div class="col-12 col-md-6 mt-3 pl-15" *ngIf="profileForm.value.isCorporate">
              <label>Corporate Customer</label>
              <div class="add-more">
                <ng-select2 width="100%" id="CorporateCustomer" formControlName="CorporateCustomer" [data]="CorporateCustomers"></ng-select2>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  <!-- /Registrations -->

  <div class="submit-section submit-btn-bottom">
    <button type="submit" class="btn btn-primary submit-btn">Save Changes</button>
  </div>
</form>
