<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/patients/dashboard'">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Prescription View</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">Prescription View</h2>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->
			<!-- Page Content -->
			<div class="content">
                <div class="watermarked">
                    <div class="container-fluid" id="print_patient_prescription">
                        <div class="row">
                            <div class="col-lg-8 offset-lg-2">
                                <div class="invoice-content">
                                    <!-- prescription Item -->
                                    <div class="invoice-item">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="invoice-logo">
                                                    <img src="assets/img/logo.jpg" alt="logo">
                                                </div>
                                            </div>
                                            <div class="col-md-6" *ngIf="!isPrintOption">
                                                <div class="invoice-info">
                                                    <strong class="customer-text  text-right">Dr. {{prescription?.appointment.doctor.lastName}} {{prescription?.appointment.doctor.firstName}}</strong>
                                                    <p class="invoice-details invoice-details-two  text-right">
                                                        Designation:  {{prescription?.appointment.doctor.profile.educationBackground ? prescription?.appointment.doctor.profile.educationBackground : []  | pluck:"degree"}}
                                                        <br>
                                                        Registration No: {{prescription?.appointment.doctor.profile.registrations ? prescription?.appointment.doctor.profile.registrations[0].name : ''}}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="invoice-item"  *ngIf="isPrintOption">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="invoice-info text-right">
                                                    <strong class="customer-text">Dr. {{prescription?.appointment.doctor.lastName}} {{prescription?.appointment.doctor.firstName}}</strong>
                                                    <p class="invoice-details invoice-details-two">
                                                        Designation:  {{prescription?.appointment.doctor.profile.educationBackground ? prescription?.appointment.doctor.profile.educationBackground: []  | pluck:"degree" }}
                                                        <br>
                                                        Registration No: {{prescription?.appointment.doctor.profile.registrations ? prescription?.appointment.doctor.profile.registrations[0].name : ''}}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="invoice-item">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="invoice-info">
                                                    <strong class="customer-text">Mr/Mrs. {{prescription?.appointment.lastName}} {{prescription?.appointment.firstName}}</strong><br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /prescription Notes and instrunctions -->
                                    <div class="invoice-item invoice-table-wrap">
                                        <br><strong class="customer-text">PROVISIONAL DIAGNOSIS:</strong><br><br>
                                        <strong class="customer-text">NOTES:</strong>  
                                        <p class="invoice-details invoice-details-two">{{prescriptionNotes?.notes}}</p>
                                        <br><strong class="customer-text">DIAGNOSTIC TESTS:</strong><br><br>
                                        <strong class="customer-text">INSTRUCTIONS:</strong>
                                        <p class="invoice-details invoice-details-two">{{prescriptionNotes?.instructions}}</p>
                                    </div>
                                    <!-- prescription Notes and instrunctions -->
                                    <br>
                                    <div class="invoice-item invoice-table-wrap">
                                        <strong class="customer-text">MEDICINES</strong>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="table-responsive">
                                                    <table class="invoice-table table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-center">Name</th>
                                                                <th class="text-center">Quantity</th>
                                                                <th class="text-center">Description</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let prescription of prescriptions">
                                                                <td class="text-center">{{prescription?.name}}</td>
                                                                <td class="text-right">{{prescription?.quantity}}</td>
                                                                <td class="text-center">{{prescription?.description}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="invoice-item">
                                        <div class="row">
                                            <div class="col-md-6"></div>
                                            <div class="col-md-6">
                                                <div class="invoice-info text-right">
                                                    <img src="sign" style="max-width: 150px;"><br>
                                                    <strong class="customer-text">SIGN OF DOCTOR</strong>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="isPrintOption">
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                    </div>
                                    <!-- /prescription Item -->
    
                                    <!-- prescription Information -->
                                    <div class="prescription-footer">
                                        <h4>JL MUSH MED TRIANGLE PRIVATE LIMITED </h4>
                                        <p class="text-muted mb-0">DISCLAIMER: THIS PRESCRIPTION IS BASED ON THE INFORMATION PROVIDED BY YOU IN AN ONLINE CONSULTATION AND NOT ON ANY PHYSICAL VERIFICATION. VISIT DOCTOR IN CASE OF EMERGENCY. THIS PRESCRIPTION IS VALID IN INDIA ONLY.</p>
                                    </div>
                                    <!-- /prescription Information -->
    
                                </div>
                            </div>
                        </div>
    
                    </div>
                </div>
				

			</div>
			<!-- /Page Content -->

