<div class="card">
			<div class="card-body">

				<!-- Profile Settings Form -->
        <form [formGroup]="patientprofileForm" (submit)="onSubmit()">
          <div class="card">
            <div class="card-body">
          <div class="row form-row">
            <div class="col-12 col-md-12">
              <div class="form-group">
                <div class="change-avatar">
                  <div class="profile-img">
                    <img [src]="profilePic" alt="User Image">
                  </div>
                  <div class="upload-img">
                    <div class="change-photo-btn">
                      <span><i class="fa fa-upload"></i> Upload Photo</span>
                      <input type="file" class="upload" (change)="onProfileSelect($event)">
                    </div>
                    <small class="form-text text-muted">Allowed JPG, GIF or PNG. Max size of 2MB</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <small><span class="required">*</span> <b> : Mandatory Fields</b></small>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label>First Name<span class="required">*</span></label>
                <input type="text" [ngClass]="(f.get('firstName').invalid && (f.get('firstName').touched || f.get('firstName').dirty || formSubmitted) && f.get('firstName').errors?.required)? 'form-control is-invalid' : 'form-control' "  formControlName="firstName">
                <div class="text-danger" *ngIf="f.get('firstName').invalid && (f.get('firstName').touched || f.get('firstName').dirty || formSubmitted) && f.get('firstName').errors?.required">
                  First Name required
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label>Last Name<span class="required">*</span></label>
                <input type="text" [ngClass]="(f.get('lastName').invalid && (f.get('lastName').touched || f.get('lastName').dirty || formSubmitted) && f.get('lastName').errors?.required)? 'form-control is-invalid' : 'form-control' " formControlName="lastName">
                <div class="text-danger" *ngIf="f.get('lastName').invalid && (f.get('lastName').touched || f.get('lastName').dirty || formSubmitted) && f.get('lastName').errors?.required">
                  Last Name required
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label>Date of Birth<span class="required">*</span></label>
                <div class="">
                  <input type="date"  [ngClass]="(f.get('dateOfBirth').invalid && (f.get('dateOfBirth').touched || f.get('dateOfBirth').dirty || formSubmitted) && f.get('dateOfBirth').errors?.required)? 'form-control datetimepicker is-invalid' : 'form-control datetimepicker' " formControlName="dateOfBirth">
                </div>
                <div class="text-danger" *ngIf="f.get('dateOfBirth').invalid && (f.get('dateOfBirth').touched || f.get('dateOfBirth').dirty || formSubmitted) && f.get('dateOfBirth').errors?.required">
                  Date of Birth required
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label>Email ID<span class="required">*</span></label>
                <input type="email" [ngClass]="(f.get('email').invalid && (f.get('email').touched || f.get('email').dirty || formSubmitted) && f.get('email').errors?.required)? 'form-control is-invalid' : 'form-control' " formControlName="email">
                <div class="text-danger" *ngIf="f.get('email').invalid && (f.get('email').touched || f.get('email').dirty || formSubmitted) && f.get('email').errors?.required">
                  Email ID required
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label>Mobile</label>
                <input type="text" formControlName="phoneNumber" [ngClass]="(f.get('phoneNumber').invalid && (f.get('phoneNumber').touched || f.get('phoneNumber').dirty || formSubmitted) && f.get('phoneNumber').errors?.required)? 'form-control is-invalid' : 'form-control' ">
                <div class="text-danger" *ngIf="f.get('phoneNumber').invalid && (f.get('phoneNumber').touched || f.get('phoneNumber').dirty || formSubmitted) && f.get('phoneNumber').errors?.required">
                  Mobile required
                </div>
              </div>
            </div>
            <div formGroupName="contactInfo" class="row">
              <div class="col-12">
                <div class="form-group">
                  <label>Address<span class="required">*</span></label>
                  <input type="text" [ngClass]="(f.get('contactInfo.address1').invalid && (f.get('contactInfo.address1').touched || f.get('contactInfo.address1').dirty || formSubmitted) && f.get('contactInfo.address1').errors?.required)? 'form-control is-invalid' : 'form-control' " formControlName="address1">
                  <div class="text-danger" *ngIf="f.get('contactInfo.address1').invalid && (f.get('contactInfo.address1').touched || f.get('contactInfo.address1').dirty || formSubmitted) && f.get('contactInfo.address1').errors?.required">
                    Address required
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label>City<span class="required">*</span></label>
                  <input type="text" [ngClass]="(f.get('contactInfo.city').invalid && (f.get('contactInfo.city').touched || f.get('contactInfo.city').dirty || formSubmitted) && f.get('contactInfo.city').errors?.required)? 'form-control is-invalid' : 'form-control' " formControlName="city">
                  <div class="text-danger" *ngIf="f.get('contactInfo.city').invalid && (f.get('contactInfo.city').touched || f.get('contactInfo.city').dirty || formSubmitted) && f.get('contactInfo.city').errors?.required">
                    City required
                  </div>
                </div>
                
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label for="stateSelect">State</label>
                  <ng-select2 width="100%" id="stateSelect" formControlName="state" [data]="statesData">
                  </ng-select2>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label>Pin Code<span class="required">*</span></label>
                  <input type="text" [ngClass]="(f.get('contactInfo.zip').invalid && (f.get('contactInfo.zip').touched || f.get('contactInfo.zip').dirty || formSubmitted) && f.get('contactInfo.zip').errors?.required)? 'form-control is-invalid' : 'form-control' " formControlName="zip">
                  <div class="text-danger" *ngIf="f.get('contactInfo.zip').invalid && (f.get('contactInfo.zip').touched || f.get('contactInfo.zip').dirty || formSubmitted) && f.get('contactInfo.zip').errors?.required">
                    Pin Code required
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label for="countrySelect">Country</label>
                  <ng-select2 width="100%" id="countrySelect" formControlName="country" (valueChanged)="countryChange($event)">
                    <option  *ngFor="let country of countries?.countries" [value]="country.countryCode">{{country.countryName}}</option>
                  </ng-select2>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label>Common Diseases</label>
                <div class="add-more">
                  <ng-select2 width="10%" id="CommonDiseases" formControlName="commonDiseases" [data]="CommonDiseases" [options]="options"></ng-select2>
                </div>
              </div>
              <!-- <div class="row">
                <div class="col-12 col-md-3">
                  
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label>Other Diseases</label>
                    <div class="add-more">
                      <input type="text" [ngClass]="'form-control' " formControlName="otherDiseases">
                    </div>
                  </div>
                </div>
              </div> -->
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label>Other Diseases</label>
                <div class="add-more">
                  <input type="text" [ngClass]="'form-control' " formControlName="OtherDiseases">
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label>Are you undergone any surgery in past 6Months
                    </label>
                    <div class="form-check">
                      <mat-radio-group formControlName="anySurgeryIn6Months">
                        <mat-radio-button value="true">Yes </mat-radio-button>&nbsp;&nbsp;
                        <mat-radio-button  value="false">No</mat-radio-button>
                      </mat-radio-group>
                    </div>
                  </div>
                </div>
                <div class="col-6" *ngIf="patientprofileForm.value.anySurgeryIn6Months == 'true'">
                  <div class="form-group">
                    <label>Surgery Details<span class="required">*</span>
                    </label>
                    <textarea [ngClass]="'form-control'" formControlName="surgeryDetails"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
          <div class="card">
            <div class="card-body">
              <div class="col-12 col-md-6">
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="form-check">
                      <mat-radio-group formControlName="isCorporate">
                        <mat-radio-button [value]="false">Individual </mat-radio-button>&nbsp;&nbsp;
                        <mat-radio-button  [value]="true">Corporate</mat-radio-button>
                      </mat-radio-group>
                    </div>
                  </div>
                  <div class="col-12 col-md-6" *ngIf="patientprofileForm.value.isCorporate">
                    <label>Corporate Customer<span class="required">*</span></label>
                    <div class="add-more">
                      <ng-select2 width="100%" id="CorporateCustomer" formControlName="corporateCompany" [data]="CorporateCustomers"></ng-select2>
                      <div class="text-danger" *ngIf="patientprofileForm.value.corporateCompany == '' || patientprofileForm.value.corporateCompany == undefined">
                        Corporate Customer required
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <div class="col-12 col-md-6">
                <div class="row">
                  <div class="col-12 col-md-6">
                    <h4 class="card-title">Known Languages</h4>
                    <div class="add-more">
                      <ng-select2 width="100%" id="language" formControlName="languagesKnown" [data]="languages" [options]="options"></ng-select2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="submit-section submit-btn-bottom">
            <button type="submit" class="btn btn-primary submit-btn">Save Changes</button>
          </div>
        
      </form>
				<!-- /Profile Settings Form -->

			</div>
		</div>
    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
      <p style="color: white">Please wait</p>
    </ngx-spinner>