<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <div class="card dash-card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12 col-lg-4">
                <div class="dash-widget dct-border-rht">
                  <div class="circle-bar circle-bar1">
                    <div class="circle-graph1" data-percent="75">
                      <img src="assets/img/icon-01.png" class="img-fluid" alt="patient">
                    </div>
                  </div>
                  <div class="dash-widget-info">
                    <h6>Total Patient</h6>
                    <h3>{{TotalPatientsLength}}</h3>
                    <p class="text-muted">Till Today</p>
                  </div>
                </div>
              </div>

              <div class="col-md-12 col-lg-4">
                <div class="dash-widget dct-border-rht">
                  <div class="circle-bar circle-bar2">
                    <div class="circle-graph2" data-percent="65">
                      <img src="assets/img/icon-02.png" class="img-fluid" alt="Patient">
                    </div>
                  </div>
                  <div class="dash-widget-info">
                    <h6>Today Patient</h6>
                    <h3>{{todayAppointments.length}}</h3>
                    <p class="text-muted">{{currentDate| date:'dd-MMM-yyyy'}}</p>
                  </div>
                </div>
              </div>

              <div class="col-md-12 col-lg-4">
                <div class="dash-widget">
                  <div class="circle-bar circle-bar3">
                    <div class="circle-graph3" data-percent="50">
                      <img src="assets/img/icon-03.png" class="img-fluid" alt="Patient">
                    </div>
                  </div>
                  <div class="dash-widget-info">
                    <h6>Appoinments</h6>
                    <h3>{{todayAppointments.length}}</h3>
                    <p class="text-muted">{{currentDate| date:'dd-MMM-yyyy'}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <full-calendar [options]="calendarOptions"></full-calendar> -->
    <div class="row">
      <div class="col-md-12">
        <h4 class="mb-4">Patient Appointments</h4>
        <div class="appointment-tab">
          <!-- Appointment Tab -->
          <ul class="nav nav-tabs nav-tabs-solid nav-tabs-rounded">
            <li class="nav-item">
              <a class="nav-link active" #navbtn (click)="search('upcoming')" data-toggle="tab"
                href=#upcoming>Upcoming</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#today" (click)="result('today')" data-toggle="tab">Today</a>
            </li>
          </ul>
          <!-- /Appointment Tab -->

          <div class="tab-content">

            <!-- Upcoming Appointment Tab -->
            <div class="tab-pane active" id="upcoming">
              <div class="card card-table mb-0">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-hover table-center mb-0">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Patient Name</th>
                          <th>Appt Date</th>
                          <th>Status</th>
                          <th>Type</th>
                          <th class="text-center">Paid Amount</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let appointment of (appointments | appointmentdate : 'upcoming'); let i =index">
                          <td>{{i+1}}</td>
                          <td>
                            <h2 class="table-avatar">
                              <a class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle"
                                  [src]="appointment?.patientImageUrl || 'assets/img/patients/patient.jpg'" alt="User Image"></a>
                              <a>{{appointment?.patientName}}<span></span></a>
                            </h2>
                          </td>
                          <td>{{appointment?.appointmentDate | date : 'dd MMM yyyy'}}<span
                              class="d-block text-info">{{appointment.appointmentDate | date : 'shortTime'}}</span></td>
                          <td>{{getStatus(appointment.appointmentStatus)}}</td>
                          <td>{{getAppointmentMode(appointment.appintmentMode)}}</td>
                          <td class="text-center">{{appointment.amountPaid | currency : 'INR'}}</td>
                          <td class="text-right">
                            <div class="table-action">
                              <a href="javascript:void(0);" class="btn btn-sm bg-info-light"
                                (click)="openModal(Viewtemplate,appointment)">
                                <i class="far fa-eye"></i> View
                              </a>
                              <a *ngIf="appointment.appointmentStatus === 1"  (click)="openModal(template,appointment)" class="btn btn-sm bg-success-light">
                                <i class="fas fa-check"></i> Accept
                              </a>
                              <a href="javascript:void(0);" (click)="openModal(Declinetemplate,appointment)"
                                class="btn btn-sm bg-danger-light">
                                <i class="fas fa-times"></i> Cancel
                              </a>
                            </div>
                          </td>
                        </tr>
                        <tr *ngIf="appointments?.length==0">
                          <td colspan="5"> No Records Found</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <!-- /Upcoming Appointment Tab -->
            <!-- Today Appointment Tab -->
            <div class="tab-pane" id="today">
              <div class="card card-table mb-0">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-hover table-center mb-0">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Patient Name</th>
                          <th>Appt Date</th>
                          <th>Status</th>
                          <th>Type</th>
                          <th class="text-center">Paid Amount</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let appointment of (appointments | appointmentdate : 'today'); let i =index">
                          <td>{{i+1}}</td>
                          <td>
                            <h2 class="table-avatar">
                              <a class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle"
                                  [src]="appointment?.patientImageUrl || 'assets/img/patients/patient.jpg'" alt="User Image"></a>
                              <a>{{appointment?.patientName}}</a>
                            </h2>
                          </td>
                          <td>{{appointment.appointmentDate | date : 'dd MMM yyyy'}}<span
                              class="d-block text-info">{{appointment.appointmentDate | date : 'shortTime'}}</span></td>
                          <td>{{getStatus(appointment.appointmentStatus)}}</td>
                          <td>{{getAppointmentMode(appointment.appintmentMode)}}</td>
                          <td class="text-center">{{appointment.amountPaid | currency : 'INR'}}</td>
                          <td class="text-right">
                            <div class="table-action">
                              <a href="javascript:void(0);" class="btn btn-sm bg-info-light"
                                (click)="openModal(Viewtemplate,appointment)">
                                <i class="far fa-eye"></i> View
                              </a>

                              <a *ngIf="appointment.appointmentStatus === 1" (click)="openModal(template,appointment)" class="btn btn-sm bg-success-light">
                                <i class="fas fa-check"></i> Accept
                              </a>
                              <a href="javascript:void(0);" (click)="openModal(Declinetemplate,appointment)"
                                class="btn btn-sm bg-danger-light">
                                <i class="fas fa-times"></i> Cancel
                              </a>
                            </div>
                          </td>
                        </tr>
                        <tr *ngIf="appointments?.length==0">
                          <td colspan="5"> No Records Found</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <!-- /Today Appointment Tab -->

          </div>
        </div>
      </div>
    </div>

  </div>

  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Accept</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body text-center">
      Are you sure want to accept this patient?
      <div style="margin-top:25px">
        <button type="button" id="btn-yes" (mouseover)="btnColor()" class="btn btn-default"
          (click)="Accept('accept')">Yes</button>
        <button type="button" id="btn-no" (mouseover)="btnColorNo()" class="btn btn-primary"
          (click)="cancel()">No</button>
      </div>
    </div>
  </ng-template>

  <ng-template #Declinetemplate>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Decline</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body text-center">
      Are you sure want to cancel this patient?
      <div style="margin-top:25px">
        <button type="button" class="btn btn-default" (click)="confirm('cancel')">Yes</button>
        <button type="button" class="btn btn-primary" (click)="cancel()">No</button>
      </div>
    </div>
  </ng-template>
  <ng-template #Viewtemplate>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Patient Details</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="patient-info">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start disabled">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Patient Name</h5>
          </div>
          <p class="mb-1">{{selectedAppointment.patientName}}</p>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start disabled">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Age</h5>
          </div>
          <p class="mb-1">{{selectedAppointment.age}} - {{selectedAppointment.gender}}</p>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start disabled">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Phone Number</h5>
          </div>
          <p class="mb-1">{{selectedAppointment.mobile}}</p>
        </a>
        <a href class="list-group-item list-group-item-action flex-column align-items-start disabled">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Purpose Of Visit</h5>
          </div>
          <p class="mb-1">{{selectedAppointment.purpose}}</p>
        </a>
      </div>
      <div class="modal-footer" style="margin-top:25px">
        <button *ngIf="selectedAppointment.appointmentStatus === 1" type="button" class="btn btn-primary" (click)="Accept('accept')">Accept</button>
        <a [href]="selectedAppointment?.whereByLink" target="_blank" class="btn btn-sm bg-info-light">
          <i class="fas fa-video"></i> Video
        </a>
        <a [href]="selectedAppointment?.whereByLink + '?video=off'" target="_blank"  class="btn btn-sm bg-info-light">
          <i class="fas fa-microphone"></i> Voice
        </a>
        <!-- <button type="button" class="btn btn-default" (click)="postpone()">Postpone</button> -->
      </div>
    </div>
  </ng-template>

  <!--CALENDAR EVENTS-->

  <!--<div class="col-md-12">
  <h4 class="mb-4">Calendar Events</h4>
  <div class="row text-center">
    <div class="col-md-4">
      <div class="btn-group">

        <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()">Previous</div>&nbsp;

        <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">Today</div>&nbsp;

        <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()">Next</div>
      </div>

    </div>
    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>

    <div class="col-md-4">
      <div class="btn-group">
        <div class="btn btn-primary-month" (click)="setView(CalendarView.Month)"
          [class.active]="view === CalendarView.Month">Month</div>&nbsp;

        <div class="btn btn-primary" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
          Week</div>&nbsp;

        <div class="btn btn-primary" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">Day
        </div>&nbsp;
      </div>
    </div>

  </div>
  <br />
  <div [ngSwitch]="view">
    <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
      [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-month-view>

    <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
      [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"></mwl-calendar-week-view>

    <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-day-view>
  </div> -->

  <!-- Everything you see below is just for the demo, you don't need to include it in your app -->

  <br /><br /><br />


  <!--<ng-template #modalContent let-close="close">
    <div class="modal-header">
      <h5 class="modal-title">Patient Appointment</h5>
      <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <div style="display: table-row;">
        <div class="col-md-12 col-lg-4" style="display: table-cell;">
          Patient Details:

          <pre><h3>Name: Anand Mishra</h3><br/>Age: 43 Y | Gender: Male | Location: Hyderabad</pre>
        </div>
        <div class="col-md-12 col-lg-4" style="display: table-cell;">
          Appointment Date:
          <pre>21-April-2021, 08:45 PM</pre>
        </div>
      </div>

      <div>
        Description:

      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="close()">
        OK
      </button>
    </div>

  </ng-template> -->
</div>
