	<!-- Breadcrumb -->
	<!-- 	<div class="breadcrumb-bar">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-md-12 col-12">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a [routerLink]="''">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Booking</li>
								</ol>
							</nav>
							<h2 class="breadcrumb-title">Booking</h2>
						</div>
					</div>
				</div>
			</div> -->
	<!-- /Breadcrumb -->

	<!-- Page Content -->
	<div class="content">
	  <div class="container">

	    <div class="row">
	      <div class="col-12">

	        <div class="card">
	          <div class="card-body">
	            <div class="booking-doc-info" *ngIf="doctorDetails">
	              <a [routerLink]="'patients/doctor-profile'" class="booking-doc-img">
	                <img src={{doctorDetails.profilePic}} alt="User Image">
	              </a>
	              <div class="booking-info">
	                <h4><a
	                    [routerLink]="'patients/doctor-profile'">{{doctorDetails.lastName +' '+ doctorDetails.firstName}}</a>
	                </h4>
	                <div class="rating">
	                  <i class="fas fa-star filled"></i>
	                  <i class="fas fa-star filled"></i>
	                  <i class="fas fa-star filled"></i>
	                  <i class="fas fa-star filled"></i>
	                  <i class="fas fa-star"></i>
	                  <span class="d-inline-block average-rating">35</span>
	                </div>
	                <p class="text-muted mb-0"><i class="fas fa-map-marker-alt"></i> {{doctorDetails.clinicInfo?.address}}
	                </p>
	              </div>
	            </div>
	          </div>
	        </div>
	        <div class="row">
	          <div class="col-12 col-sm-4 col-md-6">
	            <h4 class="mb-1">{{selection | date}}</h4>
	            <p class="text-muted">{{selection | date: 'EEEE'}}</p>
	          </div>
	          <div class="col-12 col-sm-8 col-md-6 text-sm-right">
	            <div class="bookingrange btn btn-white btn-sm mb-3">
	              <i class="far fa-calendar-alt mr-2"></i>
	              <input name="daterangeInput" id="daterange" disabled daterangepicker [options]="options"
	                (selected)="selectedDate($event, daterange)" (applyDaterangepicker)="applyDate($event)" />
	              <!-- <i class="fas fa-chevron-down ml-2"></i> -->
	            </div>
	          </div>
	        </div>
	        <!-- Schedule Widget -->
	        <div class="card booking-schedule schedule-widget">

	          <!-- Schedule Header -->
	          <div class="schedule-header">
	            <div class="row">
	              <div class="col-md-12">

	                <!-- Day Slot -->
	                <div class="day-slot">
	                  <ul>
	                    <li class="left-arrow">
	                      <a>
	                        <i class="fa fa-chevron-left" (click)="clickArrow(-1)"></i>
	                      </a>
	                    </li>
	                    <li *ngFor="let s of dateRange">
	                      <span>{{s.day}}</span>
	                      <span class="slot-date">{{s.formatted}}</span>
	                    </li>
	                    <li class="right-arrow">
	                      <a>
	                        <i class="fa fa-chevron-right" (click)="clickArrow(1)"></i>
	                      </a>
	                    </li>
	                  </ul>
	                </div>
	                <!-- /Day Slot -->
	              </div>
	            </div>
	          </div>
	          <!-- /Schedule Header -->

	          <!-- Schedule Content -->
	          <div class="schedule-cont">
	            <div class="row">
	              <div class="col-md-12">

	                <!-- Time Slot -->
	                <div class="time-slot">
	                  <ul class="clearfix">
	                    <li *ngFor="let s of dateRange">
	                      <ng-container *ngIf="getData(s).length === 0">
	                        <a class="timing" href="javascript:void(0)">
	                          <span>#N/A</span>
	                        </a>
	                      </ng-container>
	                      <a class="timing" (click)="selectDayToProceed($event, k)" *ngFor="let k of getData(s)">
	                        <span>{{k.appointmentDate | date: 'shortTime'}}</span>
	                      </a>
	                    </li>
	                  </ul>
	                </div>
	                <!-- /Time Slot -->

	              </div>
	            </div>
	          </div>
	          <!-- /Schedule Content -->

	        </div>
	        <!-- /Schedule Widget -->

	        <!-- Submit Section -->
	        <div class="submit-section proceed-btn text-right">
	          <button [routerLink]="'/patients/checkout'" [disabled]="!getCheckedAppintment"  [queryParams]="{id: doctorId, date: getCheckedAppintment}"
	            class="btn btn-primary submit-btn">Proceed to Pay</button>
	        </div>
	        <!-- /Submit Section -->

	      </div>
	    </div>
	  </div>

	</div>
	<!-- /Page Content -->
