<div class="container-fluid">
<div class="card">
  <div class="card-header">
    <div class="container">
      <div class="row">
        <div class="col-sm-2">
          <img [src]="appointment?.patientImageUrl || 'assets/img/patients/patient1.jpg'" class="img img-fluid rounded-circle" alt="">
        </div>
        <div class="col-sm-10 justify-content-end">
          <h4 class="card-title">{{appointment?.patientName}}</h4>
          <p class="card-title"><b>Appointment On:</b> {{appointment?.appointmentDate | date}} {{appointment?.appointmentDate | date: 'shortTime'}}</p>
          <p class="card-text"> {{appointment?.location}} </p>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <mat-tab-group [backgroundColor]="'primary'">
      <mat-tab>
        <ng-template mat-tab-label>
          Notes
        </ng-template>
        <ng-template matTabContent>
          <app-notes [appointmentId]="appointment?.id"></app-notes>
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          Prescriptions
        </ng-template>
        <ng-template matTabContent>
          <app-prescriptions [appointmentId]="appointment?.id"></app-prescriptions>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
  <!-- <div class="card-footer text-muted">
    Footer
  </div> -->
</div>
</div>
