<div class="card">
  <div class="card-body pt-0">

    <!-- Tab Menu -->
    <nav class="user-tabs mb-4">
      <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
        <li class="nav-item">
          <a class="nav-link active" href="#pat_appointments" data-toggle="tab">Appointments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#pat_prescriptions" data-toggle="tab">Prescriptions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#pat_medical_records" data-toggle="tab"><span class="med-records">Medical
              Records</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#pat_billing" data-toggle="tab">Billing</a>
        </li>
      </ul>
    </nav>
    <!-- /Tab Menu -->

    <!-- Tab Content -->
    <div class="tab-content pt-0">

      <!-- Appointment Tab -->
      <div id="pat_appointments" class="tab-pane fade show active">
        <div class="card card-table mb-0">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover table-center mb-0">
                <thead>
                  <tr>
                    <th>Doctor</th>
                    <th>Appt Date</th>
                    <th>Booking Date</th>
                    <th>Amount</th>
                    <th>Follow Up</th>
                    <th>Status</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let appoint of appointments">
                    <td>
                      <h2 class="table-avatar">
                        <a [routerLink]="'/patients/doctor-profile'" [queryParams]="{id: appoint?.doctorId}" class="avatar avatar-sm mr-2">
                          <img class="avatar-img rounded-circle" [src]="appoint?.doctorPic"
                            alt="User Image">
                        </a>
                        <a [routerLink]="['/patients/doctor-profile']" [queryParams]="{id: appoint?.doctorId}">Dr. {{appoint?.doctorName}}
                          <span>{{appoint?.doctorSpecialities[0].name}}</span></a>
                      </h2>
                    </td>
                    <td>{{appoint?.appointmentDate | date}} <span
                        class="d-block text-info">{{appoint?.appointmentDate | date:'shortTime'}}</span></td>
                    <td>{{appoint?.dateOfBooking | date}}</td>
                    <td>{{0 | currency:'INR'}}</td>
                    <td>-</td>
                    <td><span class="badge badge-pill bg-info-light"
                        [ngClass]="appoint?.status === 2 ? 'bg-success-light' : (appoint?.status === 1 ? 'bg-warning-light' : 'bg-danger-light') ">{{getStatus(appoint?.status)}}</span>
                    </td>
                    <td class="text-right">
                      <div class="table-action">
                        <a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
                          <i class="fas fa-print"></i> Print
                        </a>
                        <a href="javascript:void(0);" class="btn btn-sm bg-info-light d-none">
                          <i class="far fa-eye"></i> View
                        </a>
                        <a [href]="appoint?.whereByLink" target="_blank" *ngIf="getFutureEvent(appoint)" class="btn btn-sm bg-info-light">
                          <i class="fas fa-video"></i> Video
                        </a>
                        <a [href]="appoint?.whereByLink + '?video=off'" target="_blank" *ngIf="getFutureEvent(appoint)" class="btn btn-sm bg-info-light">
                          <i class="fas fa-microphone"></i> Voice
                        </a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- /Appointment Tab -->

      <!-- Prescription Tab -->
      <div class="tab-pane fade" id="pat_prescriptions">
        <div class="card card-table mb-0">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover table-center mb-0">
                <thead>
                  <tr>
                    <th>Date </th>
                    <th>Name</th>
                    <th>Created by </th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let prescription of prescriptions">
                    <td>{{prescription.appointment.appointmentDate | date: 'medium'}}</td>
                    <td>{{prescription.name}}</td>
                    <td>
                      <h2 class="table-avatar">
                        <a [routerLink]="'/patients/doctor-profile'" class="avatar avatar-sm mr-2">
                          <img class="avatar-img rounded-circle" [src]="prescription.appointment.doctor.profile?.profilePic || 'assets/img/doctors/doctor-thumb-01.jpg'"
                            alt="User Image">
                        </a>
                        <a [routerLink]="'/patients/doctor-profile'">Dr. {{prescription.appointment.doctor.lastName}} {{prescription.appointment.doctor.firstName}}<span>Dental</span></a>
                      </h2>
                    </td>
                    <td class="text-right">
                      <div class="table-action">
                        <a (click)="prescriptionDetails(prescription)" class="btn btn-sm bg-info-light">
                          <i class="far fa-eye"></i> View
                        </a>
                        <a (click)="printPrescriptionDetails(prescription)" class="btn btn-sm bg-primary-light">
                          <i class="fas fa-print"></i> Print
                        </a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- /Prescription Tab -->

      <!-- Medical Records Tab -->
      <div id="pat_medical_records" class="tab-pane fade">
        <div class="card card-table mb-0">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover table-center mb-0">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Date </th>
                    <th>Description</th>
                    <th>Attachment</th>
                    <th>Created</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let record of medicalRecords">
                    <td><a href="javascript:void(0);">#MR-0010</a></td>
                    <td>14 Nov 2019</td>
                    <td>Dental Filling</td>
                    <td><a href="javascript:void(0);">dental-test.pdf</a></td>
                    <td>
                      <h2 class="table-avatar">
                        <a [routerLink]="'/patients/doctor-profile'" class="avatar avatar-sm mr-2">
                          <img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-01.jpg"
                            alt="User Image">
                        </a>
                        <a [routerLink]="'/patients/doctor-profile'">Dr. Ruby Perrin <span>Dental</span></a>
                      </h2>
                    </td>
                    <td class="text-right">
                      <div class="table-action">
                        <a href="javascript:void(0);" class="btn btn-sm bg-info-light">
                          <i class="far fa-eye"></i> View
                        </a>
                        <a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
                          <i class="fas fa-print"></i> Print
                        </a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- /Medical Records Tab -->

      <!-- Billing Tab -->
      <div id="pat_billing" class="tab-pane fade">
        <div class="card card-table mb-0">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover table-center mb-0">
                <thead>
                  <tr>
                    <th>Invoice No</th>
                    <th>Doctor</th>
                    <th>Amount</th>
                    <th>Paid On</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let invoice of invoices">
                    <td>
                      <a [routerLink]="'/invoice-details'" [queryParams]="{'id': invoice.appoinmentId}">#INV-{{invoice.id}}</a>
                    </td>
                    <td>
                      <h2 class="table-avatar">
                        <a [routerLink]="'/patients/doctor-profile'" [queryParams]="{'id': invoice.doctorId}" class="avatar avatar-sm mr-2">
                          <img class="avatar-img rounded-circle" [src]="invoice.doctorProfile.profilePic || 'assets/img/doctors/doctor-thumb-01.jpg'"
                            alt="User Image">
                        </a>
                        <a [routerLink]="'/patients/doctor-profile'"  [queryParams]="{'id': invoice.doctorId}">{{invoice.doctor?.lastName}} {{invoice.doctor?.firstName}} <span>{{invoice.doctorProfile.specializations[0].name}}</span></a>
                      </h2>
                    </td>
                    <td>{{invoice.totalAmount | currency: 'INR'}}</td>
                    <td>{{invoice.paymentDate | date}}</td>
                    <td class="text-right">
                      <div class="table-action">
                        <a [routerLink]="'/invoice-details'" [queryParams]="{'id': invoice.appoinmentId}" class="btn btn-sm bg-info-light">
                          <i class="far fa-eye"></i> View
                        </a>
                        <a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
                          <i class="fas fa-print"></i> Print
                        </a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- /Billing Tab -->

    </div>
    <!-- Tab Content -->

  </div>
</div>

<div style="display: none;">
  <app-prescription-details></app-prescription-details>
</div>
