<div class="card">
  <div class="card-body">
    <form [formGroup]="notesForm" (submit)="onSubmit()">
      <div class="form-group">
        <label class="control-label">Notes:</label>
        <textarea type="text" class="form-control" formControlName="notes"></textarea>
      </div>
      <div class="form-group">
        <label class="control-label">Instructions:</label>
        <textarea type="text" class="form-control" formControlName="instructions"></textarea>
      </div>
      <!-- <div class="form-group">
        <label class="control-label">Follow Up:</label>
        <input type="date" class="form-control" formControlName="followUpDate">
      </div> -->
      <div class="text-right">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>
</div>
