<div class="content">
	<div class="container-fluid">

		<div class="row">
			<div class="col-md-8 offset-md-2">

				<!-- Register Content -->
				<div class="account-content">
					<div class="row align-items-center justify-content-center">
						<div class="col-md-7 col-lg-6 login-left">
							<img src="assets/img/login-banner.png" class="img-fluid" alt="Doccure Register">
						</div>
						<div class="col-md-12 col-lg-6 login-right" *ngIf="!hasOTP">
							<div class="login-header">
								<h3>{{reg_type}} <a href="javascript:void(0)"
										(click)="changeRegType()">{{doc_patient}}</a></h3>
							</div>

							<!-- Register Form -->
              <form [formGroup]="registrationForm">
                <div class="form-group form-focus">
                  <input type="text" name="First Name" class="form-control floating"
                         formControlName="firstName">
                  <label class="focus-label">First Name<span class="required">*</span></label>
                </div>

                <div class="form-group form-focus">
                  <input type="text" name="Last Name" class="form-control floating"
                         formControlName="lastName">
                  <label class="focus-label">Last Name<span class="required">*</span></label>
                </div>

                <div class="form-group form-focus">
                  <input type="email" name="email" class="form-control floating"
                         formControlName="email">
                  <label class="focus-label">Email</label>
                </div>

                <div class="form-group form-focus">
                  <input type="text" name="mobile" class="form-control floating"
                         formControlName="phoneNumber" maxlength="10">
                  <label class="focus-label">Mobile Number<span class="required">*</span></label>
                </div>

                <div class="form-group form-focus">
                  <input type="password" name="password" class="form-control floating"
                         formControlName="password">
                  <label class="focus-label">Create Password<span class="required">*</span></label>
                </div>


                <div class="form-group form-focus">
                  <input type="password" name="password" class="form-control floating"
                         formControlName="confirmPassword">
                  <label class="focus-label">Confirm Password<span class="required">*</span></label>
                </div>
                <!--<div>
                  <label class="custom_check">
                    <input type="checkbox" name="gender_type" [(ngModel)]="isPatient"
                           (click)="checkType($event)">
                    <span class="checkmark"></span> I'm Patient
                  </label>
                </div>-->

                <div class="text-right">
                  <a class="forgot-link" [routerLink]="'/login-page'">Already have an account?</a>
                </div>
                <button class="btn btn-primary btn-block btn-lg login-btn" [disabled]="registrationForm.invalid" (click)="getOTP()">Get OTP</button>
                <div class="login-or" hidden>registrationForm.phoneNumber
                  <span class="or-line"></span>
                  <span class="span-or">or</span>
                </div>
                <div class="row form-row social-login" hidden>
                  <div class="col-6">
                    <a href="javascript:void(0)" class="btn btn-facebook btn-block">
                      <i class="fab fa-facebook-f mr-1"></i> Login
                    </a>
                  </div>
                  <div class="col-6">
                    <a href="javascript:void(0)" class="btn btn-google btn-block">
                      <i class="fab fa-google mr-1"></i> Login
                    </a>
                  </div>
                </div>
              </form>
							<!-- /Register Form -->

						</div>
            <div class="col-md-12 col-lg-6 login-right" *ngIf="hasOTP">
							<div class="login-header">
								<h3>{{reg_type}}&nbsp;&nbsp;<label *ngIf="timeLeft != 0" class="bg-success-light">{{timeLeft}} sec</label></h3>
							</div>
              <div class="form-group form-focus">
                <input type="number" name="otp" class="form-control floating"
                       [(ngModel)]="OTP">
                <label class="focus-label">OTP<span class="required">*</span></label>
              </div>
              <mat-checkbox name="agreeconditions" [(ngModel)]="isAggreedConditions" >By signing up, I agree to <a href="/terms/terms" target="_blank" style="color: orange;">Terms and Conditions</a></mat-checkbox>
              <button class="btn btn-primary btn-block btn-lg login-btn" (click)="signup()" [disabled]="!isAggreedConditions">SignUp</button>

						</div>
					</div>
				</div>
				<!-- /Register Content -->

			</div>
		</div>

	</div>

</div>
<ng-template #template style="width:800px">
  <div class="modal-header">
    <h4 class="modal-title pull-left">JLMUSH Terms and Conditions	</h4>
    <!--<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>-->
  </div>
  <div class="modal-body">
  

    <div style="margin-top:25px">
      <button type="button" class="btn btn-primary" id="btn-yes" (click)="modalRef.hide()">Agree</button>
      <!--<button type="button" class="btn btn-primary" id="btn-no">No</button>-->
    </div>
  </div>
</ng-template>

<!--Loading -->
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
	<p style="color: white">Please wait, &nbsp; Registration in progress . . .</p>
</ngx-spinner>

<ng-template #Viewtemplate>
  <div class="modal-header">
    <h2 class="modal-title pull-left">Given Email or Phone number is already registered.</h2>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="patient-info">
    <div class="list-group">
      <p class="list-group-item list-group-item-action flex-column align-items-start">Please <a href="javascript(0)" [routerLink]="['/forgot-password']" (click)="modalRef.hide()" style="text-decoration: underline;">click here</a> to go forgot password.</p>
    </div>
    <div class="modal-footer" style="margin-top:25px">
      <button type="button" class="btn btn-primary" (click)="modalRef.hide()">Close</button>
      <!-- <button type="button" class="btn btn-default" (click)="postpone()">Postpone</button> -->
    </div>
  </div>
</ng-template>